{% extends "template.html" %}
{% block body %}
        <div class="ui floating labeled icon dropdown button search title">
          <i class="book icon"></i>
          {% if entities %}
          <span class="text" ly-aid="{{ entities[0]['id'] }}">{{ entities[0]['title'] }}</span>
          {% else %}
          <span class="text">No Articles!</span>
          {% endif %}
          <div class="ui inversed menu">
            {% for entity in entities %}
            <a class="item" ly-aid="{{ entity['id'] }}">{{ entity['title'] }}</a>
            {% endfor %}
          </div>  
        </div>
        <div class="ui inverted segment article loading">
          <p>Article is loading.<p>
        </div>
        <script>
        if ($('.ui.dropdown.title > span').attr('ly-aid'))
            Articles.loadArticle('/{{ url|safe }}', $('.ui.dropdown.title > span').attr('ly-aid'));
        $('.ui.dropdown.title').dropdown({
            transaction: 'drop',
            onChange: function(value, text, $choice){
                $('.ui.dropdown.title > span').attr('ly-aid', $choice.attr('ly-aid'));
            },
            onHide: function(){
                if ($('.ui.dropdown.title > span').attr('ly-aid'))
                    Articles.loadArticle('/{{ url|safe }}', $('.ui.dropdown.title > span').attr('ly-aid'));
            }
        });
        </script>
{% endblock %}