{% extends "template.html" %}
{% block body %}
        <div id="showgame">
          <div style="min-width:992px;height:640px;top:14px;">
            <div class="ui bottom left attached label">
              <a href="https://github.com/ofedge/canvas/tree/gh-pages/startup_sequence" target="_blank">Github</a>
            </div>
            <canvas id="resetCanvas" width="100" height="100">NO IE6, NO DIE!</canvas>
            <canvas id="myCanvas" width="404" height="404">NO IE6, NO DIE!</canvas>
            <div class="table" style="margin-bottom:0px !important;">
              <table>
                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td><td></td></tr>
                <tr><td></td><td></td><td></td><td></td><td></td></tr>
              </table>
            </div>
            <style>
#resetCanvas{position:absolute;top:270px;left:75px;background-color:transparent;cursor:pointer;border-radius:50px}#myCanvas{background-color:transparent;position:absolute;right:171px;top:116px;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-moz-transform:rotate(45deg)}.table{width:500px;height:500px;background-color:transparent;position:absolute;right:0}table{border-collapse:collapse;position:absolute;left:-125px;top:70px;transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);-moz-transform:rotate(45deg)}img{cursor:pointer;transform:rotate(315deg);-ms-transform:rotate(315deg);-webkit-transform:rotate(315deg);-o-transform:rotate(315deg);-moz-transform:rotate(315deg)}.table table tr td{text-align:center;width:100px;height:100px}.footer{position:absolute;bottom:0}
            </style>
          </div>
        </div>
        <div id="notshowgame">
          <div class="ui text container">
            <h1 class="ui inverted header">Not Supported</h1>
            <h2>Only when your device is wider than 992px.</h2>
          </div>
        </div>
        <script>
          var script = document.createElement("script");
          script.setAttribute("src", "static/game.js");
          document.getElementById("wrap_content").appendChild(script);
        </script>
{% endblock %}