<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Me And Azeroth">
  <meta name="keywords" content="Azeroth,Well Read,Artifact Knowledge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Me and Azeroth</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link href="http://cdn.bootcss.com/semantic-ui/2.2.6/semantic.css" rel="stylesheet">
  <link href="static/style.css" rel="stylesheet">
  <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/semantic-ui/2.2.6/semantic.js"></script>
  <script src="static/script.js"></script>
</head>
<body>
  <!-- left sidebar -->
  <div class="ui vertical inverted sidebar menu left mainmenu">
    <a class="active item" name="home"><i class="home icon"></i>Home</a>
    <a class="item" name="game"><i class="game icon"></i>Game</a>
    <a class="item" name="wr"><i class="book icon"></i>Well Read</a>
    <a class="item" name="ak"><i class="newspaper icon"></i>Artifact Knowledge</a>
  </div>
  <!-- html content -->
  <div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="toc item mainmenu">
            <i class="sidebar icon"></i>
          </a>
          <a class="active item" name="home">Home</a>
          <a class="item" name="game">Game</a>
          <a class="item" name="wr">Well Read</a>
          <a class="item" name="ak">Artifact Knowledge</a>
          <div class="right menu">
            {% if not session.user %}
            <button class="ui inverted button" id="signin">Sign in</button>
            {% else %}
            <a class="item" name="user">{{ session.user['username'] }}</a>
            <a class="item" name="signout">Sign out</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="ui container" id="wrap_content">
        <div id="content_body">
          <div class="ui text container">
            <h1 class="ui inverted header">
              Me and Azeroth
            </h1>
            <h2>Do whatever you want when you want to.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui basic modal signin">
    <div class="header">
      Sign in to continue
    </div>
    <div class="content">
      <div class="ui large inverted form">
        <div class="two fields">
          <div class="field">
            <label>Username</label>
            <input placeholder="Username" name="username" type="text">
          </div>
          <div class="field">
            <label>Password</label>
            <input placeholder="Password" name="password" type="password">
          </div>
        </div>
      </div>
      <div class="ui red message hidden">Alphanumeric characters or underscores, minimum is 4 characters</div>
    </div>
    <div class="actions">
      <div class="two fluid ui inverted buttons">
        <div class="ui cancel red basic inverted button">
          <i class="remove icon"></i>Cancel
        </div>
        <div class="ui green basic inverted button" name="signin">
          <i class="checkmark icon"></i>Sign in
        </div>
      </div>
    </div>
  </div>
  <div class="ui basic small modal sysinfo">
    <div class="header">
      <i class="warning circle icon"></i>
      Page Info
    </div>
    <div class="content">
    </div>
    <div class="actions">
      <div class="ui negative button">OK</div>
    </div>
  </div>
</body>
</html>